<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{_template :: head('Sair')}">
</head>

<body class="grey lighten-2">
    <main class="container center">
        <h4>Deseja sair do app mercadiin?</h4>

        <form th:action="${'/logout'}" method="post">
            <a href="/prod" class="btn grey">
                <i class="material-icons left">chevron_left</i>
                Cancelar
            </a>

            <button class="btn">Yes</button>

        </form>
    </main>
    
</body>
</html>