<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_template :: head('Cadastrar')}"></head>

<body class="grey lighten-2">
    <nav th:replace="~{_template :: #navbar}"></nav>

    <main class="container">

        <h2>Cadastrar Produto</h2>

        <div class="card">
            <form th:action="${'/prod'}" method="post" th:object="${prod}">
                <div class="card-content">
                    
                    <div class="input-field">
                        <input type="text" th:field="*{produto}" th:classappend="${#fields.hasErrors('produto')} ? invalid">
                        <label for="title">Produto</label>
                        <span class="helper-text red-text" th:errors="*{produto}"></span>
                    </div>

                    <div class="input-field">
                        <textarea class="materialize-textarea" th:field="*{descricao}" th:classappend="${#fields.hasErrors('descricao')} ? invalid"></textarea>
                        <label for="descricao">Descrição</label>
                        <span class="helper-text red-text" th:errors="*{descricao}"></span>
                    </div>

                    <label for="score">Pontos</label>
                    <p class="range-field">
                        <input type="range"  min="1" max="100" th:field="*{score}" />
                    </p>
                    <span class="helper-text red-text" th:errors="*{score}"></span>

                </div>
                <div class="card-action right-align">
                    <a href="/prod">Cancelar</a>
                    <button class="btn">Cadastrar</button>
                </div>
                
            </form>
        </div>

    </main>

</body>

</html>